/* http://static.tumblr.com/xuyhsld/RVjlhklud/bg_trans.png   */
/* http://static.tumblr.com/xuyhsld/0XGlhkmoa/bg_trans_single.png */
/* http://static.tumblr.com/xuyhsld/fLxlkcghe/sprite_small.png */

/* ^^^^^^^^^^^^^^^^^[ Structure & Page Level Code ]^^^^^^^^^^^^^^^^^ */
body                                   { background-color: {color:PageBackground}; background-position: center 0; font-family: {font:Body}; color: {color:Text}; font-size: 13px; line-height: 1.5; }
a                                      { text-decoration: none; color: {color:Links}; }
h3                                     { font-family: {font:Title}; color:{color:Headings}; }

#wrapper,
#header                                { padding-top: 1px }
#mainContent                           { margin-top: 32px; -moz-border-radius:0px 0px 3px 3px; -webkit-border-radius:0px 0px 3px 3px; border-radius:0px 0px 3px 3px;}
#rtCol                                 { margin-top: 40px; -moz-border-radius: 7px 7px; -webkit-border-radius: 7px 7px; border-radius: 7px 7px; }
#rtCol,#mainContent                    { background-color: {color:ModuleBackground}; box-shadow: 0px 0px 5px #ccc; -moz-box-shadow: 0px 0px 5px #ccc; -webkit-box-shadow: 0px 0px 5px #ccc; }
.notesButton						   { border: 1px solid #DDDDDD; padding: 4px 6px; background: #EEE; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.notesButtonHover					   { border: 1px solid #aaa; background-color:#eee; -moz-box-shadow: 0px 0px 2px #aaa;-webkit-box-shadow: 0px 0px 2px #aaa; box-shadow: 0px 0px 2px #aaa; }
.notesButtonClick					   { border: 1px solid {color:Links}; background-color:#fff; }

/* ^^^^^^^^^^^^^^^^^[ HEADER Styles ]^^^^^^^^^^^^^^^^^ */
#siteTitle                             { margin: 74px 0 0 }
#siteLogo                              { margin-top: 65px }
#siteLogo a#pageTitleText,
#siteLogo a#pageTitleText:hover       { background: none repeat scroll 0 0 #4F2F46; background-color: #222; color: #FFFFFF; display: block; font-family: Copse,Museo,monospace,serif; font-size: 53px; float: left; padding: 2px 36px; text-decoration: none; }
#navbar 							   { margin-top:4px; }
#navbar ul li                          { float: left; width: 149px; }
#navbar ul li a 					   { color: {color:Text};display: block;font-size: 16px;margin: 5px 10px 5px 10px;text-transform: uppercase;background: url("http://static.tumblr.com/xuyhsld/jU9lgz7sr/sprite_big.png") no-repeat 0px -399px transparent;padding: 5px 0px 5px 40px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
#navbar ul li a:hover                  { text-decoration: underline;background-color:#000; color:#fff; }
#navbar ul li.homeMenu a               { background-position: 0px -199px }
#navbar ul li.rssMenu a                { background-position: 0px -99px }
#navbar ul li.archiveMenu a            { background-position: 0px -299px }
#navbar ul li.askMenu a                { background-position: 0px -599px }
#navbar ul li.submitMenu a             { background-position: 0px -699px }

/* ^^^^^^^^^^^^^^^^^[ CONTENT Styles ]^^^^^^^^^^^^^^^^^ */
ol#posts                               { padding-bottom: 1px }
ol#posts li.post,.notesCon       	   { background: url(http://static.tumblr.com/xuyhsld/0XGlhkmoa/bg_trans_single.png) repeat-x 0 bottom; padding: 20px 20px 35px 20px; position: relative; }
ol#posts li.post:last-child            { background:none; }
.notesCon			   			   	   { background-position:0 top; }

/*
li.post ul li,
li.post ol li,					
  .text .postContent ul li,
  .text .postContent ul li            { list-style-image: none; list-style-position: inside; margin: 0 0 0 20px; }
*/
li.post .postContent ol li,
li.post .postContent ul li,
 .text .postContent ol li,
 .text .postContent ul li                      { list-style-image: none; list-style-position: outside; margin: 0 0 0 40px; }
li.post .postContent ol li,
 .text .postContent ol li			{list-style-type:decimal;}
 li.post .postContent ul li,
 .text .postContent ul li	               { list-style-type:disc; }

li.post .postHeader                      { margin-bottom: 3px }
li.post h3.postHeader a                { font-size: 30px; padding: 0px; color:{color:Headings} }
li.post h3.postHeader a:hover    { background: none; text-decoration:underline; color:{color:Links}}
/*li.post p							   { padding-bottom: 7px }*/
.tempBLocks                            { height: 50px; }

li.post .postContent p,
li.post .postContent ol, 
li.post .postContent ul				   {padding-bottom:10px;}
li.post .postContent p:last-child,
li.post .postContent ol:last-child, 
li.post .postContent ul:last-child	   {padding-bottom:0px;}
li.post .caption p,
li.post .caption ol, 
li.post .caption ul				       {padding-bottom:7px;}
li.post .caption p:last-child,
li.post .caption ol:last-child, 
li.post .caption ul:last-child	       {padding-bottom:0px;}

/* ===[ Meta Data for all posts ]=== */
.postMetadata                          { font-size: 9px; font-family:Arial,Helvetica,sans-serif; padding: 3px 0px; text-transform: uppercase; color: #666; line-height: 1; }
.postMetadata li                       { text-shadow: 1px 1px 1px white;-moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px; border-radius: 3px; float: left; margin-right: 12px; border: 1px solid #DDDDDD; padding: 5px 6px 4px 36px; background: #EEE url("http://static.tumblr.com/xuyhsld/fLxlkcghe/sprite_small.png") no-repeat -11px -52px; }
.postMetadata li a					   { color:#666; }
.postMetadata li a:hover               { text-decoration: underline; color:{color:Links}; }

li.postTimeStamp                       { background-position: -11px -152px }
li.postComments                        { background-position: -11px -102px }
li.postDisqus						   { background-position: -11px -251px }
li.postDetails                         { position: relative }
li.postDetails > a:hover 			   { text-decoration:none; }
li.postDetails .flyout                 { display: none; position: absolute; background: #eee; top: 17px; left: 24px; border: 1px solid #ddd; width: 73px; -moz-border-radius: 0px 0px 3px 3px; -webkit-border-radius: 0px 0px 3px 3px; border-radius: 0px 0px 3px 3px;z-index:150; }
li.postDetails .flyout li              { float: none; margin-right: 0px; border-width: 0px; padding: 0px; background: none;-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;  }
li.postDetails .flyout li a            { display: block; padding: 5px 5px 5px 11px; border-bottom: 1px solid #DDDDDD;}
li.postDetails .flyout .shortURL       { padding:3px 5px 2px; }
li.postDetails .flyout .shortURL input { width: 61px; border: 1px solid #AAA; font-size: 10px; }

.caption                               { padding: 15px 0; }
/*.caption blockquote                  { border-left: 1px solid #aaa; margin: 0 0 8px 10px; padding: 0 0 0 10px; }
.caption blockquote blockquote         { margin: 0.8em 0 }*/
blockquote 						       { margin: 10px 0px 10px 10px; padding-left: 15px; border-left: solid 3px gainsboro;}

.tags 								   { margin-top:10px; }
ul.tag-list li						   { display:inline; padding-right:10px; }
ul.tag-list li a					   { font-size:11px; }
ul.tag-list li a:hover				   { text-decoration:underline; }

.reblogSource 						   { margin:5px 0; font-size:11px; }
.reblogSource .reblogInfo			   {  }
.reblogSource .sourceInfo a:hover	   { text-decoration:underline; }

/* ===[ Text ]=== */
.text .postContent				       { margin-bottom:15px; }

/* ===[ Photos ]=== */
.photo .photoWrapper                   { text-align: center; margin: 15px 0 3px; }

/* ===[ Photosets ]=== */
.photoset .photosetWrapper             { width:500px;margin:15px auto 3px; }

/* ===[ Videos ]=== */
.video .videoWrapper                   { width: 500px; margin: 0px auto; }

/* ===[ Quotes ]=== */  
.quote .quoteWrapper                   { font-family: Georgia,Times New Roman,serif; font-size: 20px; font-style: italic; padding: 10px; }
.quote .source                         { padding-bottom: 10px }

/* ===[ Chat ]=== */
.chat .chat .label                     { font-weight: bold }
.chat .chat                            { margin: 15px 0px; }

/* ===[ Link ]=== */
.link h3							   { margin-bottom: 10px; }
.link a.linkHeader                     { font-size: 22px; text-decoration: underline; padding: 0px; }
.link h3 span						   { font-size:22px;}
.link a.linkHeader:hover               { text-decoration: underline; padding: 0px; }
.link .description                     { margin: 0px 10px 10px; }

/* ===[ Audio posts ]=== */
.audio .audioWrapper                   { margin: 15px 0px;}
.audio .caption                        { text-align: left; padding: 0px 0px 5px; }
.audio .audioAlbumArt				   { width:150px; }
.audio .audioExtrasHeader			   { display:none; }
.audio .audioExtrasTrack			   { font-size: 17px; font-weight: bold; margin-bottom: 4px; }
.audio .audioExtrasArtist			   { font-weight: bold;}

/* ===[ Ask posts ]=== */
.ask .postContent				       { margin-bottom:15px; }
.askQuestion                           { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; color: #FFFFFF; font-style: italic; padding: 10px; background:url(http://static.tumblr.com/xuyhsld/exdlhl9bx/bg_trans_tumblr.png) repeat transparent; }
.ask .caption                          { padding: 10px 0px 15px; text-align: right; }
.ask .askerPorImg					   { float:right; margin-right:5px; display:block; height:24px; width:24px;}
.ask .askerPorLink                     { float:right; line-height:24px; }
/* ===[ Notes ]=== */
.notesCon h3 					       { font-size:30px; margin-bottom:10px; }
.notesCon li.note                      { padding:5px 0px; }

/* ^^^^^^^^^^^^^^^^^[ SIDEBAR Styles ]^^^^^^^^^^^^^^^^^ */
.sidebarBlock                          { padding: 20px; background:url(http://static.tumblr.com/xuyhsld/0XGlhkmoa/bg_trans_single.png) repeat-x 0 bottom; font-size:12px;}
.sidebarBlock:last-child			   { background:none; }
.sidebarBlock h3                       { margin-bottom: 5px; font-size: 26px; text-transform: uppercase; }

/* ===[ Search Form ]=== */
#searchForm                            { padding: 17px 0 17px 32px; background: url(http://static.tumblr.com/xuyhsld/0XGlhkmoa/bg_trans_single.png) repeat-x 0 bottom;}
#searchForm input                      { font-size: 13px }
#searchForm .textbox                   { background-color: #FFFFFF; border: 1px solid #CCCCCC; padding: 5px; width: 185px; font-size: 17px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
#searchForm .submitButton              { background: url("http://static.tumblr.com/xuyhsld/jU9lgz7sr/sprite_big.png") no-repeat 0px 0px transparent; border: 0 none; color: #FFFFFF; height: 32px; width: 32px; text-indent: -9999px; -moz-border-radius: 3px; border-radius: 3px; -webkit-border-radius: 3px; }
#searchForm .submitButton:hover	 	   { background-color:#000;}

/* ===[ About Code ]=== */
.aboutPortrait                         { display: block; width: 64px; float: left; margin: 3px 10px 5px 0; }
#aboutBlock #description               { float: left; width: 184px;}

/* ===[ Twitter Button ]=== */
#followTwitter 						   { text-align:right; }
#followTwitter a 					   { display:inline-block; text-transform: uppercase; font-size: 10px; }

/* ===[ Following Code ]=== */
.followingContainer li                 { width: 48px; height: 48px; float: left; margin: 2px; }
.followingContainer li a               { padding: 0px }
.followingContainer li a:hover         { padding: 0px; background-color: transparent; }
.followingContainer li a:hover img     { border: 1px solid }
.followingContainer li img             { border: 1px solid #E6D5C1 }

/* ===[ Like Styles ]=== */
#likeBlock							   { line-height:1.4; }
#likes								   { overflow:hidden; }
#likes li.like_post					   { margin-bottom:25px; }	
#likes .like_video_thumbnail,
#likes .like_photo					   { width:258px; }
#likes .like_quote					   { font-style:italic; }
#likes .like_title					   { font-weight:bold; }
#likes .like_link					   { font-weight:bold; }

	
/* ^^^^^^^^^^^^^^^^^[ FOOTER Styles ]^^^^^^^^^^^^^^^^^ */
#footer                                { margin-top: 50px }

#nextPrevButtons                       { text-align: center; background:url(http://static.tumblr.com/xuyhsld/RVjlhklud/bg_trans.png) repeat; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
#nextPrevButtons .pageInfo             { color: #C6B299;float:right;  }
#nextPrevButtons .footerButton:hover   { background-color: #000; color: #fff; }
#nextPrevButtons .footerButton         { background: url("http://static.tumblr.com/xuyhsld/jU9lgz7sr/sprite_big.png") no-repeat 0px -500px transparent; padding: 6px 15px 6px 40px; color: #fff;  text-transform: uppercase; -webkit-border-radius: 3px;-moz-border-radius:3px;border-radius:3px;}
#nextPrevButtons .footerPreviousButton { float: left }
#nextPrevButtons .footerNextButton     { float: right; background-position: right -400px; padding:6px 40px 6px 15px; }

#footerNav 							   { margin-right:70px; }
#footerNav li 						   { float:right; margin-right:5px; }
#footerNav li a						   { display:block;background: url("http://static.tumblr.com/xuyhsld/jU9lgz7sr/sprite_big.png") no-repeat transparent; width:32px;height:32px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius;3px;text-indent:-9999px; }
#footerNav li a:hover				   { background-color:#000; }
#footerNav #footerNavHome a			   { background-position:0px -200px; }
#footerNav #footerNavArchive a		   { background-position:0px -300px; }
#footerNav #footerNavAsk a			   { background-position:0px -600px; }
#footerNav #footerNavSubmit a		   { background-position:0px -700px; }
#footerNav #footerNavRSS a			   { background-position:0px -100px; }

#footerAttrib ul                       { margin: 10px 0px 30px; padding: 7px 0px 5px; background:url(http://static.tumblr.com/xuyhsld/0XGlhkmoa/bg_trans_single.png) repeat-x 0 top; }
#footerAttrib ul li                    { padding: 2px 9px; float: left; margin-right:5px; color:#ddd; font-size: 10px; float: left; background: url(http://static.tumblr.com/xuyhsld/exdlhl9bx/bg_trans_tumblr.png) repeat transparent; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; font-family:Arial, Helvetica, sans-serif;}
#footerAttrib ul li a                  { text-transform:uppercase; color:#fff; }
#footerAttrib ul li a:hover            { background: none; text-decoration: underline; }
#footerAttrib ul li.footerFirst        { }
#footerAttrib ul li.footerLast         { border-right-width: 0px }


/* ^^^^^^^^^^^^^^^^^[ Transition Styles ]^^^^^^^^^^^^^^^^^ */

.bgTransition,
#footerNav li a,
#footerNav li a:hover,
#footerAttrib ul li a,
#footerAttrib ul li a:hover			   { -moz-transition: background-color 1s ease-in;-o-transition: background-color 1s ease-in;  -webkit-transition: background-color .35s ease-in;  transition: background-color .35s ease-in; }

.colTransition 						   { -webkit-transition:color .35s ease-in;-moz-transition:color .35s ease-in;-o-transition:color .35s ease-in;transition:color .35s ease-in; }

#navbar ul li a,
#navbar ul li a:hover,
#nextPrevButtons .footerButton,
#nextPrevButtons .footerButton:hover   { -webkit-transition-property: color, background; -webkit-transition-duration: .35s, .35s; -webkit-transition-timing-function: linear, ease-in; }

#navbar ul li a,
#navbar ul li a:hover,
#nextPrevButtons .footerButton,
#nextPrevButtons .footerButton:hover   { -moz-transition-property: color, background; -moz-transition-duration: .35s, .35s; -moz-transition-timing-function: linear, ease-in; }

#navbar ul li a,
#navbar ul li a:hover,
#nextPrevButtons .footerButton,
#nextPrevButtons .footerButton:hover   { -o-transition-property: color, background; -o-transition-duration: .35s, .35s; -o-transition-timing-function: linear, ease-in; }

#navbar ul li a,
#navbar ul li a:hover,
#nextPrevButtons .footerButton,
#nextPrevButtons .footerButton:hover   { -transition-property: color, background; -transition-duration: .35s, .35s; -transition-timing-function: linear, ease-in; }

#searchForm .submitButton,
#searchForm .submitButton:hover 	   {  -moz-transition: background-color 1s ease-in;-o-transition: background-color 1s ease-in;  -webkit-transition: background-color .35s ease-in;  transition: background-color .35s ease-in; }


/* ^^^^^^^^^^^^^^^^^[ Thirdparty Library Styles ]^^^^^^^^^^^^^^^^^ */
.jta-tweet-attributes				   { display:block; font-size:10px; }
.jta-tweet-text						   { display:block; }
.jta-loading						   { display:none; }

{CustomCSS}